/* Photo by <a href="https://unsplash.com/@5tep5?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Alexander Popov</a> on <a href="https://unsplash.com/s/photos/grid?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
   */


main>.container-fluid {
    padding-top: 30px;
}

body > main {
       margin: 75px 0 10px 0;
   }

.home-bg {
    background: url('/img/boot-bg.jpg');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.mt-5 {
    color: hsl(0, 7%, 97%);
    position: fixed;
    left: 15px;
    top: 250px;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

/* GRID-PAGES */

.firstGrid {
    color: #000;
}

.min-height {
    min-height: 70vh;
}

/* CONTACT PAGE */


.home-bg-2 {
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card {
    background-color: #fff;
    padding: 1.2rem;
}

tr:nth-child(even) {
    background-color: rgb(172, 202, 172);
} 

