/* Photo by <a href="https://unsplash.com/@5tep5?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Alexander Popov</a> on <a href="https://unsplash.com/s/photos/grid?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
   */

   body > main {
       margin: 75px 0 20px 0;
   }

.home-bg {
    background: url('/img/boot-bg.jpg');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.mt-5 {
    color: hsl(0, 7%, 97%);
    position: fixed;
    left: 15px;
    top: 250px;
}

img {
    width: 100%;
}

/* GRID-PAGES */

.firstGrid {
    color: #000;
}

.min-height {
    min-height: 70vh;
}

